@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotolight.woff2"), url("../fonts/Robotolight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2"), url("../fonts/Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotomedium.woff2"), url("../fonts/Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2"), url("../fonts/Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/yesevaone.woff2"), url("../fonts/yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #151313;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.header {
  background-color: #151313;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 48px;
  background-image: url("../img/cat-main.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.logo-header {
  width: 100%;
  margin-bottom: 105px;
  text-align: center;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 40px;
}

.header__content {
  font-size: 16px;
  line-height: 24px;
}

.header__city {
  margin: 0;
  color: #A07B50;
}

.header__title {
  margin: 0;
  font-family: Yeseva One;
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
}

.header__lead {
  margin: 0;
  color: #A07B50;
}

.header__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
}
